<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Network Visualization</title>
  <meta name="author" content="Siyang Liu">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- end CSS-->

  <script src="../static/js/libs/modernizr-2.0.6.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <!-- include Vue 2.x -->
    <script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
    <!-- include vue-treeselect & its styles. you can change the version tag to better suit your need. -->
    <script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.38/dist/vue-treeselect.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@0.0.38/dist/vue-treeselect.min.css">
  

</head>

<body>

  <div id="container" class="container">
    <header>
      <h1>Cube Network Demo</h1>
    </header>

    <div class="column menu" style="width:25%;display: inline-block;border: 1px #b5a2a2 solid;padding: 10px;">

      <h3>Step 1: Choose a dataset</h3>
      <div class="ui selection dropdown select-dataset" style="width: 100%">
          <input name="dataset" type="hidden">
          <div class="default text">Dataset</div>
          <i class="dropdown icon"></i>
          <div class="menu ui transition hidden">
              <div class="item" data-value="dblp">DBLP</div>
              <div class="item" data-value="yelp">Yelp</div>
              <div class="item" data-value="freebase">FreeBase</div>
              <div class="item" data-value="pubmed">PubMed</div>
          </div>
      </div>

      <h3>Step 2: Construct the netowrk</h3>
      <div>
        <h5>Filter</h5>
        <div id="filter">
          <treeselect v-model="value" :multiple="true" :options="options" :searchable="false" :value-consists-of="valueConsistsOf"/>
        </div>
      </div>
      
      <div style="padding-top: 25px">
        <h5>Merge</h5>
        <div id="merge">
          <treeselect v-model="value" :multiple="true" :options="options" :searchable="false" :flat="true"/>
        </div>
      </div>
      

      <h3>Step 3: Choose node types and visualize</h3>
      <div id="nodes">
        <treeselect v-model="value" :multiple="true" :options="options" :searchable="false" />
      </div>

      <button class="btn" id="query_btn" style="margin-top: 25px">query</button>


      <h3>Step 4: Contrast Analysis</h3>
      <div>
        <div id="contrast">
          <treeselect v-model="value" :options="options" :disable-branch-nodes="true" :show-count="true" placeholder="Select..."/>
        </div>


      </div>

      <button class="btn" id="contrast_btn" style="margin-top: 25px">Analysis</button>

    </div>






<!--     <fieldset class="group"> 
      <div class="ctr_group node_group">
      
      <legend>Select node types</legend> 
      <ul class="custom-controls-stacked checkbox"> 
        <li>
          <label>Phrase<input type="checkbox" class="node"></label>
        </li> 
        <li>
          <label>Author<input type="checkbox" class="node"></label>
        </li> 
        <li>
          <label>Year<input type="checkbox" class="node"></label>
        </li> 
        <li>
          <label>Venue<input type="checkbox" class="node"></label>
        </li> 
      </ul> 
      </div>

      <div class="ctr_group filter_group">
      <legend>Filter</legend> 
      <ul class="custom-controls-stacked checkbox"> 
        <li>
          <label>Phrase</label>
          <ul class="checkbox">
          
            <li><label class="Phrase"><input type="checkbox" class="filter">Method</label></li>
            <li><label class="Phrase"><input type="checkbox" class="filter">Metric</label></li>
            <li><label class="Phrase"><input type="checkbox" class="filter">Application</label></li>
          </ul>
        </li> 

        <li>
          <label>Author</label>
          <ul class="checkbox Author">
          
            <li><label class="Author"><input type="checkbox" class="filter">Han</label></li>
            <li><label class="Author"><input type="checkbox" class="filter">Non-Han</label></li>
          </ul>
        </li> 
        <li>
          <label>Year</label>
          <ul class="checkbox year">
          
            <li><label class="Year"><input type="checkbox" class="filter">2000</label></li>
            <li><label class="Year"><input type="checkbox" class="filter">2005</label></li>
            <li><label class="Year"><input type="checkbox" class="filter">2010</label></li>
            <li><label class="Year"><input type="checkbox" class="filter">2015</label></li>
          </ul>
        </li> 
        <li>
          <label>Venue</label>
          <ul class="checkbox Venue">
          
            <li><label class="Venue"><input type="checkbox" class="filter">Data Mining</label></li>
            <li><label class="Venue"><input type="checkbox" class="filter">Machine Learning</label></li>
            <li><label class="Venue"><input type="checkbox" class="filter">Database</label></li>
            <li><label class="Venue"><input type="checkbox" class="filter">Information Retrieval</label></li>
          </ul>
        </li> 
      </ul> 
      </div>

      <div class="ctr_group merge_group">
      <legend>Merge</legend> 
      <ul class="custom-controls-stacked checkbox"> 
        <li>
          <label>Phrase</label>
          <ul class="checkbox">
          
            <li><label class="Phrase"><input type="checkbox" class="merge">Method</label></li>
            <li><label class="Phrase"><input type="checkbox" class="merge">Metric</label></li>
            <li><label class="Phrase"><input type="checkbox" class="merge">Application</label></li>
          </ul>
        </li> 

        <li>
          <label>Author</label>
          <ul class="checkbox Author">
          
            <li><label class="Author"><input type="checkbox" class="merge">Han</label></li>
            <li><label class="Author"><input type="checkbox" class="merge">Non-Han</label></li>
          </ul>
        </li> 
        <li>
          <label>Year</label>
          <ul class="checkbox year">
          
            <li><label class="Year"><input type="checkbox" class="merge">2000</label></li>
            <li><label class="Year"><input type="checkbox" class="merge">2005</label></li>
            <li><label class="Year"><input type="checkbox" class="merge">2010</label></li>
            <li><label class="Year"><input type="checkbox" class="merge">2015</label></li>
          </ul>
        </li> 
        <li>
          <label>Venue</label>
          <ul class="checkbox Venue">
          
            <li><label class="Venue"><input type="checkbox" class="merge">Data Mining</label></li>
            <li><label class="Venue"><input type="checkbox" class="merge">Machine Learning</label></li>
            <li><label class="Venue"><input type="checkbox" class="merge">Database</label></li>
            <li><label class="Venue"><input type="checkbox" class="merge">Information Retrieval</label></li>
          </ul>
        </li> 
      </ul> 
      </div>
      <button class="btn" id="query_btn">query</button>
    </fieldset>  -->

    <div id="main" role="main">
      <div id="vis"></div>
      <!-- <h3 id="histogram_title" style="text-align: center"> Contrast Analysis</h3> -->
    </div>
  </div> 
  <!--! end of #container -->


  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
  <script>window.jQuery || document.write('<script src="../static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>


  <script defer src="../static/js/plugins.js"></script>
  <script defer src="../static/js/script.js"></script>
  <script src="../static/js/libs/coffee-script.js"></script>
  <script src="../static/js/libs/d3.v2.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="../static/js/Tooltip.js"></script>
  <script type="text/coffeescript" src="../static/coffee/vis.coffee"></script>

  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
